@media(max-width: 1400px) {
    /* Top menu */
    .topMenu__list__item {
        padding: 0 15px;
    }

    .topMenu__list__item__link {
        font-size: 16px;
    }

    /* Landing */
    .landing__logo {
        width: 300px;
    }

    .landing__header {
        font-size: 48px;
    }

    /* Home page section */
    .homePageSection__item__header {
        font-size: 24px;
    }

    .button--homePageSection {
        width: 250px;
        height: 60px;
    }

    .button--homePageSection__link {
        font-size: 18px;
    }

    /* Offer */
    .offerContent__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 150px;
    }

    /* Admin */
    .panelMenu__list__item__link,
    .panelMenu__top__header,
    .panelMenu__top__subheader,
    .panelMenu__list__subitem
    {
        font-size: 13px;
    }

    .panelMenu__list__item__img,
    .panelMenu__list__subitem__img
    {
        width: 15px;
    }

    .panelContent__start__item__img {
        width: 40px;
    }

    .panelContent__header__h {
        font-size: 20px;
    }

    .panelContent__start__item__header,
    .panelContent__header__back
    {
        font-size: 15px;
    }

    .panelContent__header__back__img {
        width: 25px;
    }

    .panelContent__filters {
        align-items: flex-start;
        flex-direction: column;
    }

    .panelContent__orderDetails {
        flex-wrap: wrap;
    }

    .panelContent__clientData,
    .panelContent__shipping {
        width: 100%;
        margin-right: 0;
    }

    .panelContent__orderStatus {
        margin: 40px 0;
    }

    .panelContent__buttons .btn--red {
        margin-right: 0;
    }

    .panelContent__cart__column:not(:last-child) {
        padding: 0 10px;
    }

    .panelContent__cart__content {
        margin-left: 0;
    }
}

@media(max-width: 1200px) {
    /* Top menu */
    .topMenu__list__item {
        padding: 0 12px;
        margin: 0 15px;
    }

    .topMenu__list__item__link {
        font-size: 14px;
    }

    .topMenu__languages {
        margin-left: 15px;
    }

    /* Landing */
    .landing__logo {
        width: 270px;
    }

    .landing__header {
        font-size: 32px;
        margin: 40px 0;
    }

    .button--landing {
        width: 320px;
        height: 55px;
    }

    .button--landing__link {
        font-size: 18px;
    }

    /* Home page section */
    .button--homePageSection {
        width: 250px;
        height: 60px;
    }

    /* Footer */
    .footer__menu, .footer__list {
        padding-left: 10px;
    }

    .footer__menu__item {
        margin: 0 8px;
    }

    /* Offer */
    .offerContent__item__header {
        font-size: 13px;
    }

    /* Cart */
    .cart__item__label, .cart__item__value {
        font-size: 13px;
    }

    .cart__item__column {
        padding: 0 15px;
    }

    /* Admin */
    .panelMenu__top__logoWrapper {
        display: none;
    }

    .panelContent__item {
        flex-wrap: wrap;
    }

    .orderItem .panelContent__column {
        flex-basis: 30%;
        margin-bottom: 30px;
    }

    .panelContent__column__label {
        margin-bottom: 7px;
    }

    .addProduct__form--addProduct {
        flex-wrap: wrap;
    }

    .addProduct__form--addProduct > * {
        width: 100% !important;
    }

    .addProduct__form__subsection--marginLeft {
        margin-left: 0;
    }
}

@media(max-width: 992px) {
    /* Global */
    .d-mobile {
        display: block;
    }

    .d-desktop {
        display: none;
    }

    /* Top menu */
    .topMenu {
        padding: 0 5%;
        height: 70px;
    }

    .topMenu__logo {
        width: 50px;
    }

    .button--hamburger {
        background: transparent;
        width: 30px;
        height: auto;
    }

    .hamburgerBtn__img {
        width: 100%;
        height: auto;
    }

    /* Landing */
    .landing {
        margin-top: 70px;
    }

    /* Home page section */
    .homePageSection__menu {
        flex-direction: column;
        width: 90%;
    }

    .homePageSection__item {
        margin-bottom: 50px;
        width: 50%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer__menu, .footer__list {
        padding: 0;
    }

    .footer__header {
        text-align: center;
    }

    .footer__header:last-child {
        position: relative;
        right: 0;
        top: 0;
        transform: none;
    }

    /* Offer */
    .offerContent {
        margin-top: 120px;
    }

    .offerContent__header {
        font-size: 26px;
    }

    .offerContent__grid {
        margin-top: 90px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 80px;
    }

    /* Single product */
    .singleProduct {
        margin-top: 120px;
    }

    .singleProduct__title {
        font-size: 18px;
    }

    .singleProduct__left {
        width: 40%;
    }

    .singleProduct__description, .singleProduct__list {
        font-size: 14px;
    }

    /* Cart */
    .cartContent {
        margin-top: 70px;
    }

    .cart__item__label {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .cart__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 12px;
    }

    .cart__item__imgWrapper {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .firstCol {
        grid-column: 2;
        grid-row: 1;
    }

    .secondCol {
        grid-column: 2;
        grid-row: 2;
    }

    .thirdCol {
        grid-column: 2;
        grid-row: 3;
    }

    .fourthCol {
        grid-column: 3;
        grid-row: 1;
    }

    .fifthCol {
        grid-column: 3;
        grid-row: 2;
    }

    .sixthCol {
        grid-column: 3;
        grid-row: 3;
    }

    .cart__summary__header__label {
        font-size: 14px;
    }

    .cart__summary__header__value {
        font-size: 24px;
    }

    .cart__summary__button {
        font-size: 15px;
        width: 270px;
    }

    /* Shipping and payment */
    .cart--flex {
        flex-wrap: wrap;
    }

    .shippingAndPayment__section {
        width: 100%;
        margin-bottom: 50px;
    }

    /* Top menu */
    .topMenu__list__item__img {
        transform: translateY(5px);
    }

    .cartCounter {
        top: -5px;
    }

    .footer__menu {
        position: relative;
        top: 50px;
        right: 0;
        transform: none;
    }

    /* Admin */
    .panel {
        display: block;
    }

    .panelMenu {
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        background: #000;
        padding: 10px 5%;
    }

    .panelMenu__menuMobile {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .panelContent {
        width: 100%;
        padding: 20px 5%;
        margin-left: 0;
        margin-top: 100px;
    }

    .panelMenu__menuMobile__hamburgerWrapper {
        background: transparent;
    }

    .panelMenu__menuMobile__hamburgerImg {
        width: 30px;
        height: auto;
        filter: brightness(0) invert(1);
    }

    .panelMenu__top__header,
    .panelMenu__top__subheader {
        color: #fff;
    }

    .panelContent__header__back,
    .panelContent__header__back:hover .panelContent__header__back__img
    {
        transform: none;
    }

    .panelContent__cart__column {
        font-size: 14px;
    }

    .panelContent__cart__item {
        padding-bottom: 15px;
    }

    .panelContent__cart__item:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, .25);
    }

    .panelMenu__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #fff;
        z-index: 11;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .panelMenu__list {
        width: 100%;
    }

    .panelMenu__menuMobile__closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        background: transparent;
    }

    .panelMenu__menuMobile__closeBtn__img {
        width: 100%;
        height: auto;
    }

    .addProduct__header, .addProduct__header__h {
        margin: 15px 0;
        font-size: 18px;
    }

    .panelContent__ribbons__column {
        font-size: 13px;
    }
}

@media(max-width: 768px) {
    /* Home page section */
    .homePageSection__header {
        font-size: 26px;
    }

    .homePageSection__item {
        width: 80%;
    }

    .homePageSection__item__header {
        font-size: 18px;
        margin: 15px 0;
    }

    .button--homePageSection {
        width: clamp(200px, 70%, 300px);
        height: 50px;
        margin-top: 15px;
    }

    .button--homePageSection__link {
        font-size: 14px;
    }

    /* Offer content */
    .offerContent__grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .offerContent__item {
        max-width: 400px;
    }

    .offerContent__header {
        font-size: 21px;
    }

    /* Single product */
    .singleProduct > * {
        width: 100%;
        max-width: 500px;
    }

    .singleProduct__left {
        margin: 0 0 50px 0;
    }

    /* Cart */
    .cartContent {
        background: #fff;
        padding: 30px 0;
    }

    .cart {
        border: none;
        padding: 25px;
    }

    .cart__header {
        padding-left: 25px;
        font-size: 17px;
    }

    /* Shipping and payemnt */
    .shippingAndPayment__form label {
        width: 100% !important;
    }

    /* Single product */
    .singleProduct__bottom__btn {
        font-size: 15px;
    }

    .singleProduct__longDesc p, .singleProduct__parts li {
        font-size: 14px;
    }

    /* Admin */
    .orderItem .panelContent__column {
        flex-basis: 49%;
    }

    .panelContent__column__value,
    .panelContent__column__label {
        font-size: 12px !important;
    }

    .panelContent__filters__label,
    .panelContent__filters__label__label,
    .panelContent__sortBtn
    {
        font-size: 13px;
    }

    .panelContent__filters__label__label {
        margin: 0;
    }

    .panelContent__filters__label {
        margin-right: 5px;
    }

    .panelContent__input__label {
        width: 180px;
    }

    .panelContent__input {
        width: calc(100% - 20px);
    }

    .panelContent__filters__btn {
        margin-left: 10px;
    }

    .productItem .panelContent__column {
        flex-basis: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .panelContent__frame__form {
        width: 100%;
        margin: 0;
    }

    .panelContent__frame__header {
        font-size: 17px;
    }

    .categoriesForm .addProduct__label {
        margin: 10px 0;
    }

    .paymentContent .labelSpan {
        text-align: center;
    }

    .panelContent__input__label--payment {
        width: 100%;
    }

    .addProduct__btn {
        padding: 10px;
    }

    .panelContent__twoForms {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .settingsForm {
        width: 100%;
        margin: 40px 0;
    }

    .panelContent__cart__item {
        flex-wrap: wrap;
    }

    .panelContent__cart__column {
        flex-basis: 30%;
        text-align: left;
        white-space: nowrap;
    }

    .panelContent__data {
        width: 100% !important;
        padding: 12px;
        font-size: 13px;
    }

    .panelContent__cart__header {
        flex-direction: column;
        align-items: flex-start;
    }

    .panelContent__cart__header > *:last-child {
        margin-bottom: 20px;
    }

    .panelContent__cart__header .btn--neutral {
        margin-left: 0;
    }

    .panelContent__cart__column {
        border: 1px solid rgba(0, 0, 0, .25);
        padding: 10px !important;
    }

    .panelContent__cart__column span {
        font-weight: 400;
        font-size: 13px;
    }

    .panelContent__header--smaller {
        order: 2;
    }

    .panelContent__buttons {
        order: 1;
    }

    .addProduct__form--addProduct {
        width: 100%;
    }

    .panelContent__ribbons__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .panelContent__ribbons__column--caption {
        border-left: none;
        padding-left: 0;
        border-top: 1px solid #000;
    }

    .footer__header, .footer__menu__item__link {
        font-size: 12px;
    }
}

@media(max-width: 576px) {
    /* Landing page */
    .landing__logo {
        width: 140px;
    }

    .landing__header {
        font-size: 32px;
        margin: 40px;
        text-align: center;
    }

    .button--landing {
        width: 300px;
        height: 50px;
    }

    .landing {
        background: url("../img/landingMobile.png");
        background-size: cover;
    }

    .button--landing__link {
        font-size: 15px;
    }

    /* Home page section */
    .homePageSection {
        padding-bottom: 0;
    }

    /* Single product */
    .singleProduct__options__buttons {
        white-space: normal;
    }

    .singleProduct__options__btn {
        margin-bottom: 10px;
    }

    /* Cart */
    .cart__header {
        text-align: center;
        padding-left: 0;
    }

    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px repeat(3, 1fr);
        grid-row-gap: 15px;
        justify-items: center;
        margin-bottom: 60px;
    }

    .cart__item__imgWrapper {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-bottom: 80px;
    }

    .firstCol {
        grid-column: 1;
        grid-row: 2;
    }

    .firstCol .cart__item__value {
        font-weight: 700;
    }

    .secondCol {
        grid-column: 1;
        grid-row: 3;
    }

    .thirdCol {
        grid-column: 1;
        grid-row: 4;
    }

    .fourthCol {
        grid-column: 2;
        grid-row: 2;
    }

    .fifthCol {
        grid-column: 2;
        grid-row: 3;
    }

    .sixthCol {
        grid-column: 2;
        grid-row: 4;
    }

    .cart__summary {
        align-items: center;
    }

    /* Single product */
    .singleProduct__options__btn {
        font-size: 11px;
        padding: 7px;
    }

    .singleProduct__options__buttons {
        margin-left: 0;
    }

    .smallModal .ReactModal__Content {
        width: 100%;
        height: 101%;
    }

    .cart__summary--shippingAndPayment {
        margin-top: -50px;
    }

    .cart__summary__button--shippingAndPayment:hover {
        letter-spacing: 1px;
    }

    .ty__header {
        font-size: 24px;
    }

    .ty__subheader {
        font-size: 17px;
    }

    .modal__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Admin */
    .panelContent__start__item {
        width: 48%;
    }

    .panelContent__header__h {
        font-size: 17px;
    }

    .panelContent__header__back {
        font-size: 13px;
    }

    .panelContent__header__back__img {
        width: 18px;
        margin-left: 16px;
    }

    .panelModal .ReactModal__Content {
        width: 100% !important;
        height: 100vh !important;
    }
}
