@media(max-width: 1400px) {
    /* Top menu */
    .topMenu__list__item {
        padding: 0 15px;
    }

    .topMenu__list__item__link {
        font-size: 16px;
    }

    /* Landing */
    .landing__logo {
        width: 300px;
    }

    .landing__header {
        font-size: 48px;
    }

    /* Home page section */
    .homePageSection__item__header {
        font-size: 24px;
    }

    .button--homePageSection {
        width: 250px;
        height: 60px;
    }

    .button--homePageSection__link {
        font-size: 18px;
    }

    /* Offer */
    .offerContent__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 100px;
        grid-row-gap: 150px;
    }
}

@media(max-width: 1200px) {
    /* Top menu */
    .topMenu__list__item {
        padding: 0 12px;
    }

    .topMenu__list__item__link {
        font-size: 14px;
    }

    .topMenu__languages {
        margin-left: 15px;
    }

    /* Landing */
    .landing__logo {
        width: 270px;
    }

    .landing__header {
        font-size: 32px;
        margin: 40px 0;
    }

    .button--landing {
        width: 320px;
        height: 55px;
    }

    .button--landing__link {
        font-size: 18px;
    }

    /* Home page section */
    .button--homePageSection {
        width: 250px;
        height: 60px;
    }

    /* Footer */
    .footer__menu, .footer__list {
        padding-left: 10px;
    }

    .footer__menu__item {
        margin: 0 8px;
    }

    /* Offer */
    .offerContent__item__header {
        font-size: 13px;
    }

    /* Cart */
    .cart__item__label, .cart__item__value {
        font-size: 13px;
    }

    .cart__item__column {
        padding: 0 15px;
    }
}

@media(max-width: 992px) {
    /* Global */
    .d-mobile {
        display: block;
    }

    .d-desktop {
        display: none;
    }

    /* Top menu */
    .topMenu {
        height: 70px;
    }

    .topMenu__logo {
        width: 50px;
    }

    .button--hamburger {
        background: transparent;
        width: 40px;
        height: auto;
    }

    .hamburgerBtn__img {
        width: 100%;
        height: auto;
    }

    /* Landing */
    .landing {
        margin-top: 70px;
    }

    /* Home page section */
    .homePageSection__menu {
        flex-direction: column;
        width: 90%;
    }

    .homePageSection__item {
        margin-bottom: 50px;
        width: 50%;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        padding: 20px;
    }

    .footer__menu, .footer__list {
        padding: 0;
    }

    .footer__header {
        text-align: center;
    }

    .footer__header:last-child {
        position: relative;
        right: 0;
        top: 0;
        transform: none;
    }

    /* Offer */
    .offerContent {
        margin-top: 120px;
    }

    .offerContent__header {
        font-size: 26px;
    }

    .offerContent__grid {
        margin-top: 90px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 80px;
    }

    /* Single product */
    .singleProduct {
        margin-top: 120px;
    }

    .singleProduct__title {
        font-size: 18px;
    }

    .singleProduct__left {
        width: 40%;
    }

    .singleProduct__description, .singleProduct__list {
        font-size: 14px;
    }

    /* Cart */
    .cartContent {
        margin-top: 70px;
    }

    .cart__item__label {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .cart__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 12px;
    }

    .cart__item__imgWrapper {
        grid-column: 1;
        grid-row: 1 / span 3;
    }

    .firstCol {
        grid-column: 2;
        grid-row: 1;
    }

    .secondCol {
        grid-column: 2;
        grid-row: 2;
    }

    .thirdCol {
        grid-column: 2;
        grid-row: 3;
    }

    .fourthCol {
        grid-column: 3;
        grid-row: 1;
    }

    .fifthCol {
        grid-column: 3;
        grid-row: 2;
    }

    .sixthCol {
        grid-column: 3;
        grid-row: 3;
    }

    .cart__summary__header__label {
        font-size: 14px;
    }

    .cart__summary__header__value {
        font-size: 24px;
    }

    .cart__summary__button {
        font-size: 15px;
        width: 270px;
    }
}

@media(max-width: 768px) {
    /* Home page section */
    .homePageSection__header {
        font-size: 26px;
    }

    .homePageSection__item {
        width: 80%;
    }

    .homePageSection__item__header {
        font-size: 18px;
        margin: 15px 0;
    }

    .button--homePageSection {
        width: clamp(200px, 70%, 300px);
        height: 50px;
        margin-top: 15px;
    }

    .button--homePageSection__link {
        font-size: 14px;
    }

    /* Offer content */
    .offerContent__grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .offerContent__item {
        max-width: 400px;
    }

    .offerContent__header {
        font-size: 21px;
    }

    /* Single product */
    .singleProduct > * {
        width: 100%;
        max-width: 500px;
    }

    .singleProduct__left {
        margin: 0 0 50px 0;
    }

    /* Cart */
    .cartContent {
        background: #fff;
        padding: 30px 0;
    }

    .cart {
        border: none;
        padding: 25px;
    }

    .cart__header {
        padding-left: 25px;
    }
}

@media(max-width: 576px) {
    /* Landing page */
    .landing__logo {
        width: 140px;
    }

    .landing__header {
        font-size: 32px;
        margin: 40px;
        text-align: center;
    }

    .button--landing {
        width: 300px;
        height: 50px;
    }

    .landing {
        background: url("../img/landingMobile.png");
        background-size: cover;
    }

    .button--landing__link {
        font-size: 15px;
    }

    /* Home page section */
    .homePageSection {
        padding-bottom: 0;
    }

    /* Single product */
    .singleProduct__options__buttons {
        white-space: normal;
    }

    .singleProduct__options__btn {
        margin-bottom: 10px;
    }

    /* Cart */
    .cart__header {
        text-align: center;
        padding-left: 0;
    }

    .cart__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px repeat(3, 1fr);
        grid-row-gap: 15px;
        justify-items: center;
        margin-bottom: 60px;
    }

    .cart__item__imgWrapper {
        grid-column: 1 / span 3;
        grid-row: 1;
        margin-bottom: 80px;
    }

    .firstCol {
        grid-column: 1;
        grid-row: 2;
    }

    .firstCol .cart__item__value {
        font-weight: 700;
    }

    .secondCol {
        grid-column: 1;
        grid-row: 3;
    }

    .thirdCol {
        grid-column: 1;
        grid-row: 4;
    }

    .fourthCol {
        grid-column: 2;
        grid-row: 2;
    }

    .fifthCol {
        grid-column: 2;
        grid-row: 3;
    }

    .sixthCol {
        grid-column: 2;
        grid-row: 4;
    }

    .cart__summary {
        align-items: center;
    }
}
