/* Global */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li, input, label, a, button, textarea {
    font-family: 'Open-sans', sans-serif;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ol {
    list-style-type: disc;
}

.d-mobile {
    display: none;
}

.thin {
    font-weight: 400 !important;
}

.uppercase {
    text-transform: uppercase;
}

.noWrap {
    white-space: nowrap;
}

/* Top menu */
.topMenu {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 3px #0000000D;
    padding: 0 clamp(10%, calc((100vw - 1400px) / 2), 10%);
    background: #fff;
    transform-origin: top;
    transition: .2s all ease-in-out;
}

.topMenu__list__item__link:hover .cartCounter {
    transform: translateY(-5px);
}

.topMenu__logo {
    width: 122px;
    height: auto;
    transition: .2s all ease-in-out;
}

.topMenu__logo:hover {
    transform: scale(1.15);
}

.topMenu__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topMenu__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topMenu__list__item {
    margin: 0 30px;
    transition: .2s all ease-in-out;
}

.topMenu__languages {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topMenu__list__item__link {
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
    position: relative;
    text-transform: uppercase;
    transition: .2s all ease-in-out;
}

.topMenu__list__item:hover {
    color: #D6B04A;
}

.topMenu__list__item__link:hover {
    color: #D6B04A;
}

.topMenu__languages__btn {
    background: transparent;
    margin: 0 10px;
    padding: 0;
    border: none;
}

.topMenu__languages__btn:last-child {
    margin-right: 0;
}

.mobileMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    margin: 0;
    padding: 0;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transition: .2s all ease-in-out;
    transform-origin: right;
}

.mobileMenu > * {
    opacity: 0;
    transition: .2s all ease-in-out;
}

.mobileMenu__closeBtn {
    background: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: auto;
}

.mobileMenu__closeImg {
    width: 100%;
    height: auto;
}

.mobileMenu__logo {
    width: 50%;
    height: auto;
    max-width: 300px;
    margin-top: -10vh;
}

.mobileMenu__list {
    margin: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.mobileMenu__list li {
    margin-bottom: 15px;
}

.topMenu__list__item__img {
    width: 30px;
}

.cartCounter {
    position: absolute;
    top: -25px;
    right: -15px;
    font-style: normal;
    background: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all ease-in;
}

/* Landing */
.landing {
    position: relative;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./../img/landing.png");
    background-attachment: fixed;
    background-position-x: center;
    background-size: cover;
    margin-top: 120px;
}

.landing__img {
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(100%, 100%, 2500px);
    height: auto;
}

.landing__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    min-width: 300px;
}

.landing__logo {
    width: 380px;
    height: auto;
}

.landing__header {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-size: 52px;
    margin: 60px 0;
    text-align: center;
}

.button--landing {
    width: 400px;
    height: 65px;
    background: #000;
    color: #fff;
    border-radius: 4px;
    transition: .4s all ease-in-out;
    font-style: italic;
}

.button--landing {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.button--landing::after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(45deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
    );
}

.button--landing:hover::after {
    opacity: 1;
    top: -10%;
    left: 50%;
    transition-property: left, top, opacity;
    transition-duration: 1.4s, 1.4s, 1s;
    transition-timing-function: ease;
}

.button--landing__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    z-index: 5;
}

/* Home page section */
.homePageSection {
    padding-bottom: 50px;
    position: relative;
}

#zestawy {
    position: absolute;
    top: -50px;
    left: 0;
}

.homePageSection__header {
    font-size: 36px;
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 80px 0 40px;
}

.homePageSection__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: clamp(800px, 90%, 1300px);
    margin: 30px auto 0;
}

.homePageSection__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.homePageSection__img {
    width: 80%;
    height: auto;
}

.homePageSection__item__header {
    font-size: 22px;
    font-family: 'Merriweather', serif;
    margin-top: 25px;
}

.button--homePageSection {
    width: 360px;
    height: 60px;
    margin-top: 30px;
    transition: .4s all;
    background: #E4E4E4;
}

.button--homePageSection:hover {
    letter-spacing: 2px;
}

.button--homePageSection__link {
    font-size: 15px;
}

/* Footer */
.topBar {
    background-color: #fff;
    background-image: url("../img/footer-background.png");
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    color: #fff;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 1;
    transform-origin: top;
    transition: .4s all ease-in-out;
    padding: 0 clamp(10%, calc((100vw - 1400px) / 2), 10%);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.footer {
    background: #000;
    color: #fff;
    width: 100%;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 clamp(5%, calc((100vw - 1400px) / 2), 10%);
    border-top: 3px solid #000;
}

.footer__menu {
    position: absolute;
    right: clamp(10%, calc((100vw - 1400px) / 2), 10%);
    top: 50%;
    transform: translateY(-50%);
}

.footer__menu__item:last-of-type {
    margin-right: 0;
}

.footer__header {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer__menu__item {
    margin: 0 15px;
    font-size: 14px;
    color: #fff;
    opacity: .85;
    transition: .2s all;
}

.footer__header, .footer__menu__item {
    font-style: italic;
}

.footer__menu__item:hover {
    opacity: 1;
}

.footer__headerWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer__header--label {
    text-transform: uppercase;
    margin-right: 15px;
    color: #D5D5D5;
}

.footer__header__link {
    text-align: center;
}

.italic {
    font-style: italic;
}

.topBar .footer__header {
    transition: .2s all ease-in-out;
}

.topBar .footer__header:last-of-type:hover {
    transform: translateX(10px);
}

/* Offer page */
.offerContent {
    margin-top: 280px;
    padding: 0 clamp(5%, calc((100vw - 1400px) / 2), 10%);
}

.offerContent__logo {
    width: 200px;
}

.offerContent__header {
    text-align: center;
    margin: 40px 0;
    font-family: 'Merriweather', serif;
    font-size: 36px;
}

.offerContent__grid {
    width: 90%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 150px;
    margin: 150px auto 100px;
}

.offerContent__item {
    opacity: .8;
    transition: .2s all;
}

.offerContent__item:hover {
    opacity: 1;
}

.offerContent__item__border {
    padding: 20px;
    position: relative;
}

.offerContent__imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.offerContent__item__img {
    width: 100%;
    height: auto;
}

.offerContent__item__header {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-family: 'Merriweather', serif;
}

.offerContent__item__header--cursive {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.offerContent__item__btn {
    background: #E4E4E4;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    border: 2px solid #000000;
    margin-top: 15px;
    font-weight: 700;
}

/* Single product */
.singleProduct {
    margin: 0 auto 70px;
    padding: 220px clamp(5%, calc((100vw - 1200px) / 2), 20%) 10px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.singleProduct--img {
    position: absolute;
    z-index: -1;
}

.singleProduct--img--1 {
    right: -120px;
    top: 190px;
}

.singleProduct--img--3 {
    right: -200px;
    top: 620px;
}

.singleProduct--img--2 {
    top: 700px;
    left: -20px;
}

.singleProduct--img--4 {
    top: 80px;
    left: -20px;
}

.singleProduct__left {
    width: 400px;
    margin-right: 50px;
}

.marginRight15 {
    margin-right: 15px;
}

.singleProduct__right {
    width: 45%;
}

.allergensImg--client {
    margin: 0 10px 15px;
}

.singleProduct__options--allergens {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start !important;
}

.singleProduct__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.singleProduct__mainImage {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid #E2E2E2;
}

.singleProduct__img {
    height: 100%;
    cursor: pointer;
    filter: brightness(0.7);
    transition: .3s all ease-in-out;
}

.singleProduct__img:hover {
    filter: brightness(1);
}

.singleProduct__images .singleProduct__img {
    width: 31%;
    height: auto;
}

.singleProduct__right__header {
    border-bottom: 1px solid rgba(142, 142, 142, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleProduct__title {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    padding-bottom: 8px;
}

.singleProduct__title--cursive {
    font-family: 'Courgette', cursive;
    display: block;
    text-align: center;
}

.singleProduct__price {
    margin-left: 50px;
    white-space: nowrap;
    font-size: 30px;
}

.singleProduct__options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.singleProduct__options__header {
    font-size: 14px;
    font-weight: 400;
}

.singleProduct__options__buttons {
    margin-left: 15px;
    white-space: nowrap;
}

.singleProduct__options__btn {
    padding: 10px 12px;
    background: #fff;
    margin: 0 10px;
    text-transform: uppercase;
    border: 3px solid #000;
    font-weight: 700;
    font-style: italic;
    transition: .4s all;
}

.singleProduct__options__buttons--lower .singleProduct__options__btn {
    padding: 7px 10px;
}

.singleProduct--checked {
    color: #fff;
    background: #000;
}

.singleProduct__description {
    margin: 20px 0 30px;
    font-size: 16px;
    font-style: italic;
}

.singleProduct__list {
    list-style-type: disc;
    margin-left: 0;
    padding-left: 20px;
    font-size: 18px;
    font-style: italic;
}

.button--addToCart {
    background: #000;
    color: #fff;
    font-size: 18px;
    font-style: italic;
    border: 2px solid #000;
    border-radius: 4px;
    width: 340px;
    height: 60px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s all ease-in-out;
}

.button--addToCart__img {
    width: 30px;
    height: auto;
    margin-left: 20px;
    filter: brightness(0) invert(1);
    transition: .4s all ease-in-out;
}

.button--addToCart:hover .button--addToCart__img,
.button--addToCart:active .button--addToCart__img {
    transform: translateX(10px);
}

.button--addToCart:hover {
    color: #fff;
    background: #000;
}

.button__link--smaller {
    font-size: 17px;
}

.singleProduct__parts {
    font-style: italic;
    margin: 30px 0 20px 20px;
}

.singleProduct__bottom {
    padding: 0 clamp(5%, calc((100vw - 1200px) / 2), 20%) 70px;
    margin: 50px auto;
    overflow: hidden;
}

.singleProduct__bottom__btn {
    width: 100% !important;
    height: 70px;
    background: #000;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
}

.singleProduct__longDesc {
    background: #F9F9F9;
    border: 2px solid #000;
    padding: 30px;
    margin: 20px 0;
    font-size: 17px;
    width: 100%;
    transition: .4s all;
    font-style: italic;
}

.arrowDown {
    margin-left: 20px;
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
    transition: .4s all;
}

.rotate180 {
    transform: rotate(180deg);
}

.o-0 {
    opacity: 0;
    height: 0;
    transition: .4s all;
}

/* Cart */
.cartContent {
    min-height: 75vh;
    margin-top: 150px;
    padding: 40px clamp(5%, calc((100vw - 1400px) / 2), 10%);
    background: #f9f9f9;
}

.cart__header {
    font-size: 26px;
}

.emptyCart {
    margin: 60px 0;
}

.button--emptyCart {
    width: 250px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 0;
    background: #000;
}

.button--emptyCart__link {
    font-size: 15px;
    color: #fff;
}

.button--emptyCart

.cart__header {
    font-size: 24px;
    margin: 30px 0;
}

.cart {
    margin-top: 20px;
    padding: 25px 40px;
    background: #fff;
    border: 2px solid #F1F1F1;
}

.cart__item__value--button {
    background: transparent;
    margin: 0 4px;
}

.cart__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding: 30px 0;
    transition: .5s all ease-in-out;
}

.cart__item__imgWrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__item__img {
    width: 100%;
    height: auto;
}

.cart__item__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    flex: 1;
}

.firstCol {
    flex: 2;
    padding-left: 50px;
}

.cart__item__label {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.cart__item__value {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.cart__item__input {
    width: 50px;
    height: 30px;
}

.cart__item__value--flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__summary {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cart__summary__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cart__summary__header__label {
    font-size: 18px;
    margin-right: 20px;
}

.cart__summary__header__value {
    font-size: 32px;
}

.cart__summary__button {
    background: #e4e4e4;
    color: #000;
    text-transform: uppercase;
    margin-top: 30px;
    width: 300px;
    height: 50px;
    font-size: 15px !important;
    font-weight: 700;
    transition: .3s all ease-in-out;
    border: 3px solid #000;
}

.cart__summary__button:hover {
    letter-spacing: 3px;
}

.cart__summary__button--shippingAndPayment {
    width: 400px;
}

.cart__mobileColumn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Add to cart modal */
.ReactModal__Overlay {
    background: rgba(0, 0, 0, .7) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.ReactModal__Content {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: center !important;
}

/* React modal - animation */
.smallModal {
    transition: .4s all;
}

.smallModal .ReactModal__Overlay {
    opacity: 0;
    transform: translateX(-100vw);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Content {
    transform: scale(0) translate(-50%, -50%);
    transition: all 500ms ease-in-out;
    transform-origin: center !important;
    transition-delay: 500ms !important;
}

.smallModal .ReactModal__Overlay--after-open {
    opacity: 1;
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Overlay--before-close {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 500ms ease-in-out;
}

.smallModal .ReactModal__Content--after-open {
    transform: scale(1) translate(-50%, -50%);
    transition: all 500ms ease-in-out;
}

/* End */

.smallModal .ReactModal__Content {
    width: 500px;
    height: 500px;
}

.modalHeader {
    font-size: 24px;
    margin: 60px 0 30px;
    text-align: center;
}

.modalTick {
    width: 100px;
    height: auto;
}

.modalClose {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: auto;
    background: transparent;
}

.modalClose__img {
    width: 100%;
    height: auto;
}

.modal__btn {
    margin: 20px;
    background: #E4E4E4;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 8px 15px;
    transition: .4s all ease-in-out;
}

.modal__btn:hover {
    background: #000;
    color: #fff;
}

/* Shipping and payment */
.cart--flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shippingAndPayment--error {
    border: 2px solid red !important;
}

.shippingAndPayment__section {
    width: 48%;
}

.shippingAndPayment__header {
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.shippingAndPayment__form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.label-100 {
    width: 100%;
}

.label-50 {
    width: 48%;
}

.label-70 {
    width: 69%;
}

.label-60 {
    width: 59%;
}

.label-30 {
    width: 29%;
}

.label-20 {
    width: 18%;
}

.shippingAndPayment__input {
    width: 100%;
    background: #fff;
    border: 1px solid #000;
    height: 50px;
    padding: 5px 10px;
    margin: 10px 0;
    transition: .3s all ease-in-out;
}

.shippingAndPayment__textArea {
    width: 100%;
    height: 200px;
    padding: 20px 15px;
    border: 1px solid #000;
    resize: none;
    margin-top: 30px;
}

.ribbonBtnLabel {
    margin: 20px 0 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ribbonBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    background: transparent;
    border: 1px solid #000;
    position: relative;
}

.d-none {
    display: none;
}

.ribbon {
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ribbonDedication {
    display: block;
    opacity: 1;
    transition: .4s all;
}

.o-none {
    transition: .4s all;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.ribbonLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ribbonLabel .ribbonBtn {
    margin-left: 30px;
}

/* TY page */
.tyPage {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ty__header, .ty__subheader {
    text-align: center;
    padding: 20px;
}

.button--ty {
    background: #E4E4E4;
    color: #000;
    border: 3px solid #000;
    transition: .4s all;
}

.button--ty:hover {
    letter-spacing: 2px;
}

/* Button animations */
.marginLeft15 {
    margin-left: 15px;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 150px;
}

/* Blog page */
.blogContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 0;
}

.blogContent__item {
    width: 30%;
    background: #F9F9F9;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 50px;
}

.blogContent__item__imgWrapper {
    width: 100%;
    max-height: 250px;
    overflow: hidden;
}

.blogContent__item:hover .blogContent__item__img {
    transform: scale(1.2);
}

.blogContent__item__img {
    width: 100%;
    transition: .4s all ease-in-out;
}

.blogContent__item__title {
    margin-top: 20px;
    position: relative;
}

.blogContent__item__title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 50px;
    height: 5px;
    background: #D6B04A;
}

.blogContent__item__excerpt {
    margin-top: 40px;
    text-align: justify;
    font-size: 14px;
}

/* About us */
.aboutUs__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.aboutUs__section:first-of-type {
    padding-top: 0;
}

.aboutUs__img {
    width: 35%;
    height: auto;
}

.aboutUs__content {
    width: 60%;
}

.aboutUs__header {
    font-family: 'Merriweather', Serif;
    font-size: 26px;
    margin-bottom: 20px;
}

.aboutUs__p {
    font-size: 15px;
    font-style: italic;
    margin: 12px 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.textAlignRight * {
    text-align: right;
}

/* Single post */
.singlePost__title {
    font-family: 'Merriweather', Serif;
    text-align: left;
    width: 100%;
    margin: 40px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.singlePost__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.singlePost__article {
    width: 70%;
}

.singlePost__aside {
    width: 20%;
}

.singleProduct--post {
    padding: 200px clamp(10%, calc((100vw - 1400px) / 2), 10%) 50px;
    position: relative;
}

.singlePost__aside__header {
    text-align: right;
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(0, 0, 0, .25);
}

.singlePost__aside__list__item {
    text-align: right;
    margin: 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    transition: .2s all ease-in-out;
}

.singlePost__aside__list__item:hover {
    transform: translateX(-10px);
}

/* Contact */
.contactContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px auto 100px;
}

.contactContent__img {
    width: 100%;
    height: auto;
}

.contactContent__section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

.contactContent__frame__header,
.contactContent__frame__text {
    font-size: 15px;
}

.contactContent__frame strong {
    font-family: 'Courgette', cursive !important;
    color: #D6B04A !important;
    margin-bottom: 10px !important;
    display: block !important;
    font-size: 17px !important;
}

.contactContent__frame * {
    text-align: center !important;
}

.contactContent__frame {
    width: 48%;
    margin-bottom: 50px;
}

.link--animated {
    display: block;
    transition: .4s all;
}

.link--animated:hover {
    transform: translateX(10px);
}

/* Pages */
.pageContent {
    margin: 50px 0 80px;
}
